$primary: blue;
$secondary: red;

body {
    animation: bgs 2s ease-in-out 0.5s 12 backwards;;
}

@keyframes bgs {
  from {
  	background-color: $primary;
  }
  to {
  	background-color: $secondary;
  }
}